.card{
  margin-top: 20px;
}
.progress-bar{
margin-top: 30px;
padding: 10px;
}
mat-form-field {
  mat-error {
      display: none !important;
  }

  mat-error:first-child {
      display: block !important;
  }
}