<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
 
</head>
<body>
  <header>
    <nav class="nav navbar-light bg-light">
      <div class="img">
        <a class="nav-link" href="#">
          <img src="../assets/logo.jpg">
        </a>
      </div>
      
      <a class="nav-link" href="#"><strong>Global Bank</strong></a>
    </nav>
    <!-- <nav class="navbar navbar-light bg-light">
      <a class="navbar-brand" href="#">Navbar</a>
      <div class="logo">
        
      </div>
        <strong>Global Bank</strong>
    </nav> -->
  </header>
  
<router-outlet></router-outlet>
</body>
</html>
 
